<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ty_project">


    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        tools:replace="android:label"
        android:label="동양게임천국"


        android:roundIcon="@drawable/main_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashThemeCorrect"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <!-- android:name=".GamePlayActivity"> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".CourseStaggedActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <!-- android:windowSoftInputMode="adjustPan" /> -->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
        </activity>


        <activity
            android:name=".creativeuiux.loginuikit.LoginActivity3">
        </activity>

<!--@#####-->
        <activity
            android:name=".FindSame_activity"
            android:exported="true">
        </activity>

        <activity
            android:name=".Roulette"
            android:exported="true">
        </activity>

        <activity
            android:name=".Character_viewpager"
            android:exported="true">
        </activity>

<!--FlyGame-->
        <activity android:name=".flyGame.GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name=".flyGame.MainFlyActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">

        </activity>

        <activity android:name=".Eng_Activity"
            android:exported="true"
            />

    </application>

</manifest>